* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-image {
  height: 70px;
  background-color: navy;
  background-image: url("../images/lightning.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 80% 50%;
}
.header-text {
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-size: 40px;
}

main {
  flex-grow: 1;
}

.flex-parent {
  display: flex;
}

.card {
  background-color: black;
}
#forecast-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.forecast-cards {
  border: 3px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#forecast-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-history {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 77px;
  padding-left: 77px;
  justify-content: space-around;
}

.search-results {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .left-side { 
  max-width: 250px;
  background-color: yellow;
} 
.right-side {
  flex-grow: 1;
  background-color: pink;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
