* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-image {
  height: 70px;
  background-color: navy;
  background-image: url("../images/lightning.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 80% 50%;
}
.header-text {
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-size: 40px;
}

main {
  flex-grow: 1;
}

.flex-parent {
  border: 1px solid red;
  display: flex;
}

.card {
  background-color: black;
}
#forecast-cards {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

.forecast-cards {
  border: 3px solid black;
  display: flex;
  align-items: center;
}

/* .left-side { 
  max-width: 250px;
  background-color: yellow;
} 
.right-side {
  flex-grow: 1;
  background-color: pink;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
